html {
    background-color: ghostwhite;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 800px;
    max-width: 100%;
    margin: 50px auto 0 auto;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

header {
    display: flex;
}

footer {
    color: darkgray;
    text-align: center;
    margin: 10px 0;
}

footer a {
    color: darkgray;
}

.logo {
    width: 250px;
    height: 250px;
    border-radius: 250px;
    flex-shrink: 0;
    margin: 0 30px;
}

.add-link {
    background-color: slateblue;
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.features a {
    color: black;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .info {
        padding: 0 10px;
    }

    .logo {
        margin: 0 auto;
    }
}